.user-pane {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.user-pane__form {
  padding: 15px;

  border: $border-width solid $border-color;

  @include border-radius($border-radius);
}

.user-pane__field-label {
  font-weight: 600;
}

.user-pane__submit-button {
  display: block;

  width: 100%;
  margin-top: 1rem;
}

.user-pane__field-errors {
  padding: 0;

  list-style: none;

  color: $error-color;
}

.user-pane__forgot-password {
  display: inline;
  float: right;

  margin-bottom: $label-margin-bottom;

  text-align: right;
}

.user-pane__captcha > img {
  margin-bottom: 8px;
}

.user-pane__btn_delete-profile {
  float: right;
}
