/* Import bootstrap variables and mixins*/
@import '././node_modules/bootstrap/scss/_functions.scss';
@import '././node_modules/bootstrap/scss/_variables.scss';
@import '././node_modules/bootstrap/scss/_mixins.scss';

/* Import project variables and mixins*/
@import './variables.scss';


@import './fonts.scss';
@import './common.scss';

/* Import bloks*/
@import './blocks/_header.scss';
@import './blocks/_user-pane.scss';
@import './blocks/_users-table.scss';


.browserupgrade {
  margin: .2em 0;
  padding: .2em 0;

  color: #000;
  background: #ccc;
}



/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;

  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 1.5rem;

  padding: .75rem 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}


// Form validation styles
.hidden {
  display: none;
}

.help-block,
.form-error {
  font-size: .7rem;

  padding: 0;

  list-style: none;

  color: $error-color;
}
